# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @agrimmer @arthurpitman @heckelmann @hubmat00 @jskelin @j-poecher @Kavindu-Dodan 
