---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynatrace-service
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: dynatrace-service
  replicas: 1
  template:
    metadata:
      labels:
        run: dynatrace-service
    spec:
      containers:
      - name: dynatrace-service
        image: grabnerandi/dynatrace-service:0.1
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "32Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        env:
        - name: EVENTBROKER
          value: 'http://event-broker.keptn.svc.cluster.local/keptn'
        - name: PLATFORM
          value: kubernetes
        - name: DT_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: dynatrace
              key: DT_API_TOKEN
        - name: DT_TENANT
          valueFrom:
            secretKeyRef:
              name: dynatrace
              key: DT_TENANT
---
apiVersion: v1
kind: Service
metadata:
  name: dynatrace-service
  namespace: keptn
  labels:
    run: dynatrace-service
spec:
  ports:
  - port: 8080
    protocol: TCP
  selector:
    run: dynatrace-service
---
## dynatrace-service-distributor
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynatrace-service-distributor
  namespace: keptn
spec:
  selector:
    matchLabels:
      run: distributor
  replicas: 1
  template:
    metadata:
      labels:
        run: distributor
    spec:
      containers:
        - name: distributor
          image: keptn/distributor:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "32Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
            - name: PUBSUB_URL
              value: 'nats://keptn-nats-cluster'
            - name: PUBSUB_TOPIC
              value: 'sh.keptn.>'
            - name: PUBSUB_RECIPIENT
              value: 'dynatrace-service'
